/* estilos de la barra de navegacion */

body{
	background-color:#0b56ff;
    background-repeat: no repeat;
	color:black;
	font-size: 20px;
	font-family: 'Arial';
}

img{
	width:400px;
	height:200px;   
}

.inic{
    width:900px;
	height:200px;
}

#buscar_receta{
	color:white;
	padding:50px;
}
#buscar_receta a{
	color:white;
}

hr{
	color:#000;
}

.centrado{
	text-align: center;
}

.TituloReceta{
	font-size: 30px;
	color:#000;
}

.noStyle{
	list-style:none;
}
.noStyle a{
	text-decoration: none;
	color:#000;
}

#contenido{
	margin-top:50px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-size: 50px;
	text-align:center;
	text-decoration: underline;
}







/* MENU MAKER */

@import url(http://fonts.googleapis.com/css?family=Capriola);
/* Let's import the lovely google font, please keep this line at the top of your stylesheet */
/* Menu CSS */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  zoom: 1;
  height: 69px;
  background: url(/static/img/bottom-bg.png) repeat-x center bottom;
  border-radius: 2px;
  width: auto;
}
#cssmenu ul {
  background: url(/static/img/nav-bg.png) repeat-x 0px 4px;
  height: 69px;
}
#cssmenu ul li {
  float: left;
  list-style: none;
}
#cssmenu ul li a {
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu ul li:first-child a {
  margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background: url(/static/img/color.png) center bottom;
  display: block;
  height: 37px;
  margin-top: 0px;
  padding-top: 26px;
  color: #004f7c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}




