{% extends 'base.html' %}    

{% block title %}aviso{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'invitado{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li class="active" ><a href="login.php">Login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">Logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{% block encabezado %}<h2>Aviso</h2>{% endblock %}


{% block content %}
	  	  
		<div>
			<h3>{{ aviso }}</h3>
			{{ link | raw }} 
		</div>

{% endblock %}