<!DOCTYPE html>     
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}{% endblock %}</title>


<link href="css/bootstrap.css" rel="stylesheet">

<link href="navbar.css" rel="stylesheet">
</head>
<body>

	<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">INICIO</a>
        </div>
        
        <div class="navbar-collapse collapse">
	        {% block menu %}
	        {% endblock %}
        </div>
        
      </div>

		<div>
						
			<img src="img/imagen_recetario_mañoso.jpg" class="inic" border=2 alt="recetario principal">
			
	    	{% block encabezado %}{% endblock %}
		</div>

		{% block content %}
		{% endblock %}
		
	</div>
  
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>


