{% extends 'base.html' %}
    
{% block title %}Buscar{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">Login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">Logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{% block encabezado %}<h2>Buscar receta por</h2>{% endblock %}


{% block content %}

    <form action="buscar_accion.php" method="post" class="form-horizontal" >
    
	  <div class="form-group">
	    <label for="usu" class="col-sm-2 control-label">Nombre Usuario</label>
	    <div class="col-xs-4">
	      <input type="text" class="form-control" id="usu" name="username" placeholder="Usuario">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="nom" class="col-sm-2 control-label">Nombre Receta</label>
	    <div class="col-xs-4">
	      <input type="text" class="form-control" id="nom" name="nombre" placeholder="Nombre Receta">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="col" class="col-sm-2 control-label">Tipo Receta</label>
	    <div class="col-xs-4">
    		<select name="tipo" class="form-control" id="col">
    			<option value="Ent" selected="selected">Entrante</option>
    			<option value="Pri">Primero</option>
    			<option value="Seg">Segundo</option>
    			<option value="Post">Postre</option>
    		</select>
	    </div>
	  </div>
	     
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	
	      <button type="submit" class="btn btn-default">Buscar receta en la bd</button>
	     
	    </div>
	  </div>
	  
	</form>

{% endblock %}


