{% extends 'base.html' %}

{% block title %}Resultado de la busqueda{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>   
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block encabezado %}<h2>Resultado de la busqueda</h2>{% endblock %}

{% block content %}
	  	  
	{% for re in listarecetas %}
	
	<dl class="dl-horizontal">
		<dt>Nombre Usuario:</dt>
		<dd>{{ re.username }}</dd>
		
		<dt>id usuario:</dt>
		<dd>{{ re.creador_id }}</dd>
		
		<dt>Foto:</dt>
		<dd><img src="./{{ re.foto }}" alt="imagen del producto" title="{{ re.nombre }}" alt="{{ re.nombre }}" ></dd>
		
		<dt>Nombre receta:</dt>
		<dd>{{ re.nombre }}</dd>
		
		<dt>Tipo receta:</dt>
		<dd>
			{% if re.tipo_receta == "Ent" %} Entrante {% endif %}
			{% if re.tipo_receta == "Pri" %} Primero {% endif %}
			{% if re.tipo_receta == "Seg" %} Segundo {% endif %}
			{% if re.tipo_receta == "Post" %} Postre {% endif %}				
		</dd>
		
		<dt>Ingredientes:</dt>
		<dd>{{ re.ingredientes }}</dd>
		
		<dt>Elaboración:</dt>
		<dd>{{ re.elaboracion }}</dd>
		
		<dt>Fecha creación:</dt>
		<dd>{{ re.fecha_creacion }}</dd>
		
		<dt>Fecha modificación:</dt>
		<dd>{{ re.fecha_modificacion }}</dd>
		
		<dt>Tiempo de elaboración:</dt>
		<dd>{{ re.tiempo }}</dd>
	</dl>
	<hr>
	{% endfor %}

{% endblock %}




