{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

   
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li>
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Hola  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login">Login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">Logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{% block encabezado %}{% endblock %}

{% block content %}
	  	  
	{% for re in listarecetas %}
	
	<dl class="dl-horizontal">
		<dt>Usuario:</dt>
		<dd>{{ re.username }}</dd>
		
		<dt>Foto:</dt>
		<dd><img src="./{{ re.foto }}" alt="imagen del producto" alt="{{ re.nombre }}" ></dd>
		
		<dt>Receta:</dt>
		<dd>{{ re.nombre }}</dd>
		
		<dt>Tipo receta:</dt>
		<dd>
			{% if re.tipo == "Ent" %} Entrante {% endif %}
			{% if re.tipo == "Pri" %} Primero {% endif %}
			{% if re.tipo == "Seg" %} Segundo {% endif %}
			{% if re.tipo == "Post" %} Postre {% endif %}				
		</dd>
		
		<dt>Ingredientes:</dt>
		<dd>{{ re.ingredientes }}</dd>
		
		<dt>Elaboración:</dt>
		<dd>{{ re.elaboracion }}</dd>
		
		<dt>Fecha creación:</dt>
		<dd>{{ re.fecha_creacion }}</dd>
		
		<dt>Fecha modificación:</dt>
		<dd>{{ re.fecha_modificacion }}</dd>
		
		<dt>Tiempo de elaboración:</dt>
		<dd>{{ re.tiempo }} minutos</dd>
	</dl>
	<hr>
	{% endfor %}
	

{% endblock %}