{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block encabezado %}<h2>Login</h2>{% endblock %}

{% block content %}

	<!-- FORMULARIO LOGIN  -->
    <form  action="login_accion.php" method="post" class="form-horizontal">
	    
	  <div class="form-group">
	    <label for="inputUser" class="col-sm-2 control-label">Usuario</label>
	    <div class="col-xs-4">
	      <input name="usuario"  type="text" class="form-control" id="inputUser" placeholder="Usuario">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
	    <div class="col-xs-4">
	      <input name="password" type="text" class="form-control" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Loguearse</button>
      	  
	    </div>
	  </div>
	</form>	     
		     
{% endblock %}




