{% extends 'base.html' %}

{% block title %}Editar receta{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
		
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block encabezado %}<h2>Editar una receta</h2>{% endblock %}

{% block content %}
	  	  
<div class="row">
  	<div class="col-md-8">
  
	{% for re in camposreceta %}
    <form action="recetas_editar_accion1.php" method="post" class="form-horizontal" >

	  <div class="form-group">
	    <label class="col-sm-4 control-label">Nombre Usuario</label>
	    <div class="col-sm-8">
	      <p class="form-control-static">{{ re.username }}</p>
	    </div>
	  </div>
	
	  <div class="">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="idusu" name="idusu" value="{{ re.creador_id }}" >
	    </div>
	  </div>
	  
	  <div class="">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="idre" name="idre" value="{{ re.id }}" >
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-xs-8">
	      <!-- ponemos por ejemplo la img de profiteroles -->
	      <input type="hidden" class="form-control" id="foto" name="foto" value="img/profiteroles.jpg" >
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="nomReceta" class="col-sm-4 control-label">Nombre receta</label>
	    <div class="col-xs-8">
	      <input type="text" class="form-control" id="nomReceta" name="nomReceta" value="{{ re.nombre }}">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="col" class="col-sm-4 control-label">Tipo</label>
	    <div class="col-xs-8">
    		<select name="tipoPlato" class="form-control" id="col" >
    			<option value="Ent">Entrante</option>
    			<option value="Pri">Primero</option>
    			<option value="Seg">Segundo</option>
    			<option value="Post">Postre</option>
    		</select>
	    </div>
	  </div>
    
	  <div class="form-group">
	    <label for="ingredientes" class="col-sm-4 control-label">Ingredientes</label>
	    <div class="col-xs-8">
	    	<textarea class="form-control" rows="5" id="ingredientes" name="ingredientes" >{{ re.ingredientes }}</textarea>
	    </div>
	  </div>
    
	  <div class="form-group">
	    <label for="elaboracion" class="col-sm-4 control-label">Elaboración</label>
	    <div class="col-xs-8">
	    	<textarea class="form-control" rows="5" id="elaboracion" name="elaboracion" >{{ re.elaboracion }}</textarea>
	    </div>
	  </div>
	  	    
	  <div class="form-group">
	    <label class="col-sm-4 control-label">Fecha creación</label>
	    <div class="col-sm-8">
	      <p class="form-control-static">{{ re.fecha_creacion }}</p>
	    </div>
	  </div>
	 
	  <div class="form-group">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="fechaCre" name="fechaCre" value="{{ re.fecha_creacion }}" >
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-sm-4 control-label">Fecha Modificación</label>
	    <div class="col-sm-8">
	      <p class="form-control-static">{{ fechaActual }}</p>
	    </div>
	  </div>
	 
	  <div class="form-group">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="fechaMod" name="fechaMod" value="{{ fechaActual }}" >
	    </div>
	  </div>
	    
	  <div class="form-group">
	    <label for="tiempo" class="col-sm-4 control-label">Tiempo</label>
	    <div class="col-xs-8">
    		<select name="tiempo" class="form-control" id="tiempo" >
    			<option value="1">50 minutos</option>
    			<option value="2">100 minutos</option>
    			<option value="3">120minutos</option>
    			<option value="4">200 minutos</option>
    		</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-10">
	      <button type="submit" class="btn btn-default">Modificar la Receta</button>
	      

	    </div>
	  </div>
	  
	</form>
	
	{% endfor %}
	
  	</div>
</div>

{% endblock %}


