{% extends 'base.html' %}

{% block title %}Nueva receta{% endblock %}

{% block menu %}	   
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block encabezado %}<h2>Aviso receta</h2>{% endblock %}

{% block content %}
	  	  
		<div>
			<h3>Operación realizada con exito</h3>
			<a href="index.php">ir a Inicio</a>
		</div>

{% endblock %}


