{% extends 'base.html' %}

{% block title %}Detalle de la Receta{% endblock %}

{% block menu %}
	
	<li><a href="index.php">Inicio</a></li> 
	<li><a href="recetas_nueva.php">Añadir receta</a></li>
	<li><a href="recetas_editar.php?id_receta={{ idreceta }}">Editar</a></li>
	<li><a href="recetas_eliminar.php?id_receta={{ idreceta }}">Eliminar</a></li>	            	
{% endblock %}

{% block encabezado %}<h2>Detalle de receta</h2>{% endblock %}

{% block userSession %}
	{{ userSession }}  
{% endblock %}

{% block content %}

	{% for re in camposreceta %}
	
	<dl class="dl-horizontal">
		<dt>Usuario:</dt>
		<dd>{{ re.username }}</dd>
		
		<dt>Foto:</dt>
		<dd><img src="./{{ re.foto }}" alt="imagen del producto" title="{{ re.nombre }}" alt="{{ re.nombre }}" ></dd>
		
		<dt>Receta:</dt>
		<dd>{{ re.nombre }}</dd>
		
		<dt>Tipo:</dt>
		<dd>{{ re.tipo }}</dd>
		
		<dt>Ingredientes:</dt>
		<dd>{{ re.ingredientes }}</dd>
		
		<dt>Elaboración:</dt>
		<dd>{{ re.elaboracion }}</dd>
		
		<dt>Fecha creación:</dt>
		<dd>{{ re.fecha_creacion }}</dd>
		
		<dt>Fecha modificación:</dt>
		<dd>{{ re.fecha_modificacion }}</dd>
		
		<dt>Tiempo de elaboración:</dt>
		<dd>{{ re.tiempo }}</dd>
		
	</dl>
	
	{% endfor %}
	
	<p><a class="btn btn-primary btn-lg btn-block" href='./index.php'>Inicio</a></p>

{% endblock %}



