{% extends 'base.html' %}

{% block title %}Editar una receta{% endblock %}

{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> 
		<li><a href="buscar.php">Buscar Receta</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar receta</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">Login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">Logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block encabezado %}<h2>Selecciona una receta para editar</h2>{% endblock %}

{% block content %}

   	<table class="table">
      <thead>
        <tr>
          <th>Id Receta</th>
          <th>Nombre Receta</th>
          <th>Tipo receta</th>
          <th>Usuario Creador</th>
          <th>Editar</th>
         
        </tr>
      </thead>
      
      <tbody>
      	{% for re in listarecetas %}
        <tr>
			<td>{{ re.id }}</td>
			<td>{{ re.nombre }}</td>
			<td>
				{% if re.tipo == "Ent" %} Entrante {% endif %}
				{% if re.tipo == "Pri" %} Primero {% endif %}
				{% if re.tipo == "Seg" %} Segundo {% endif %}
				{% if re.tipo == "Post" %} Postre {% endif %}
			</td>
			<td>{{ re.username }}</td>
			<td><a class="btn btn-default" href="./recetas_editar_accion.php?id_receta={{ re.id }}">Editar</a></td>
			     
        </tr>
		{% endfor %}
      </tbody>
    </table>

{% endblock %}